* {
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: 100px 300px 300px 100px;
}
header{
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start: 1;
  grid-row-end: 2; 
}
h1{
  font-family: 'Lobster';
  color:gray;
}
h4{
  font-family: 'Lobster';
  color:gray;
}
img{
  height: 50%;
}