<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Grafpedia</title>
    <link href="estilos.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="grafpedia">
            <div class="icon"><i class="fa fa-bars"></i></div>
            <div id="grafpedia">Grafpedia</div>
            <div id="input"> <input placeholder="Type and hit enter to search"> </input> </div>
        </div>
        <div class="menu_fotos">
            <div class="menu">
                <div class="menu_item"> Home &nbsp; &nbsp; &nbsp;</div>
                <div class="menu_item"> About &nbsp; &nbsp; &nbsp;</div>
                <div class="menu_item"> Services &nbsp; &nbsp; &nbsp;</div>
                <div class="menu_item"> Products &nbsp; &nbsp; &nbsp;</div>
                <div class="menu_item"> Blog &nbsp; &nbsp; &nbsp;</div>
                <div class="menu_item"> Contact </div>
            </div>
            <div class="vector">
                <strong> 500+ Vector Files </strong> <br> Get a VIP account and download them all
            </div>
            <div class="fotos">
                <div> <img src="./foto1.png"> </div>
                <div> <img src="./foto2.png"> </div>
                <div> <img src="./foto3.png"> </div>
                <div> <img src="./foto4.png"> </div>
            </div>
        </div>
        <div class="contenedores">
            <div class="boton">
                <div id="texto_boton"> Get lots of vectors, icons, web layout, brushes, textures and gradients »</div>
                <div> <button type="button"> Apply for a VIP account</button></div>
            </div>

            <div class="services">
                <div id="services">
                    <div> <img src="./cohete.jpg"> </div>
                    <div> Services </div>
                </div>
                <div id="lista">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolorum, distinctio eum consequuntur
                    odio explicabo iste laudantium, alias quod minima id expedita ab! Impedit id blanditiis delectus
                    provident, facere aut.
                    <ul> <strong>
                            <li> Web design » </li>
                            <li> Print design » </li>
                            <li> Log design » </li>
                            <li> Icon design » </li>
                        </strong> </ul>
                </div>
            </div>
            <div class="products">
                <div id="products">
                    <div> <img src="./candado.jpg"> </div>
                    <div> Products </div>
                </div>
                <div> <img src="./foto1.png"> </div>
                <div> <img src="./foto2.png"> </div>
                <div> <img src="./foto3.png"> </div>
                <div> <img src="./foto4.png"> </div>
                <div> <img src="./foto5.png"> </div>
                <div> <img src="./foto6.png"> </div>
            </div>
            <div class="about">
                <div id="about">
                    <div> <img src="./sobre.jpg"> </div>
                    <div> About us</div>
                </div>
                <div id="lorem">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam labore repellendus ratione?
                    Doloremque facere ratione, unde dolores, quae dicta incidunt explicabo placeat provident repudiandae
                    enim accusamus, quod porro eveniet.
                </div>
            </div>
        </div>
        <div class="blog">
            <div id="blog">
                <div> <img src="./arroba.jpg"> </div>
                <div> Blog </div>
            </div>
            <div class="create_light">
                <div id="foto_create"> <img src="light.jpeg"> </div>
                <div id="create_light">
                    <div> <strong> Create a light effect in <br> Photoshop </strong> </div>
                    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, aliquam voluptates. Tempore iusto
                        error atque, consequuntur minus nam corrupti fuga eos blanditiis illo sint accusamus molestiae
                        suscipit tenetur eveniet optio.</div>
                </div>
            </div>
            <div class="design">
                <div id="foto_predictor"> <img src="predictor.jpg"> </div>
                <div id="design">
                    <div> <strong> Design a clean <br> Bussines Layout </strong> </div>
                    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab id eum consequuntur animi
                        molestias.
                        Ab earum perspiciatis soluta distinctio a? Quod nam voluptatum accusantium mollitia eligendi id
                        dolore, minus labore.</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            //Captura del even para mostrar u ocultar
            var anchura = $(window).width();
            if (anchura > 992) {
                $(".menu_item").show();


            } else if (anchura < 992) {
                $(".menu_item").hide();
            }

            $(".icon").click(function () {
                $(".menu_item").toggle();
            });

            $(window).resize(function () {
                var anchura = $(this).width();
                if (anchura > 992) {
                    $(".menu_item").show();


                } else if (anchura < 992) {
                    $(".menu_item").hide();
                }
            });
        });
    </script>
</body>

</html>