<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Grafpedia</title>
    <link href="estilos.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="grafpedia">
            <div id="grafpedia">Grafpedia</div>
            <div id="input"> <input placeholder="Type and hit enter to search"> </input> </div>
        </div>
        <div class="menu_fotos">
            <div class="menu">
                <h4> Home</h4> <h4> About</h4> <h4> Services</h4> <h4> Products</h4> <h4> Blog</h4> <h4> Contact</h4>
            </div>
            <div class="vector">
                <strong> 500+ Vector Files </strong> <br> Get a VIP account and download them all
            </div>
            <div class="fotos">
                <div> <img src="./foto1.png"> </div>
                <div> <img src="./foto2.png"> </div>
                <div> <img src="./foto3.png"> </div>
                <div> <img src="./foto4.png"> </div>
            </div>
        </div>
        <div class="boton">
            <div> Get lots of vectors, icons, web layout, brushes, textures and gradients >></div>
            <div> <button type="button"> Apply for a VIP account</button></div>
        </div>
        <div class="3contenedores">
            <div class="services">
                <div> Services</div>
                <div> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolorum, distinctio eum consequuntur odio explicabo iste laudantium, alias quod minima id expedita ab! Impedit id blanditiis delectus provident, facere aut.
                    <ul>
                        <li> Web design >> </li>
                        <li> Print design</li>
                        <li> Log design</li>
                        <li> Icon design</li>
                    </ul>
                </div>
            </div>
            <div class="products">
                <div> <img src="./foto1.png"> </div>
                <div> <img src="./foto2.png"> </div>
                <div> <img src="./foto3.png"> </div>
                <div> <img src="./foto4.png"> </div>
                <div> <img src="./foto5.png"> </div>
                <div> <img src="./foto6.png"> </div>
            </div>
            <div class="about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam labore repellendus ratione? Doloremque facere ratione, unde dolores, quae dicta incidunt explicabo placeat provident repudiandae enim accusamus, quod porro eveniet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla facilis quod veritatis, molestiae dolore architecto eius blanditiis beatae enim quibusdam tenetur laudantium consectetur saepe eligendi nihil cumque numquam iusto? Itaque.
            </div>
        </div>
        <div class="blog">
            <div class="create_light">
                <div> <img src="light.jpeg"> </div>
                <div> Create a light effect in <br> Photoshop</div>
                <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, aliquam voluptates. Tempore iusto error atque, consequuntur minus nam corrupti fuga eos blanditiis illo sint accusamus molestiae suscipit tenetur eveniet optio.</div>
            </div>
            <div class="design">
                <div> <img src="predictor.jpg"> </div>
                <div> Desing a clean <br> Bussines Layout</div>
                <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab id eum consequuntur animi molestias. Ab earum perspiciatis soluta distinctio a? Quod nam voluptatum accusantium mollitia eligendi id dolore, minus labore.</div>
            </div>
        </div>
    </div>
</body>
</html>