*{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 325px 325px;
    padding: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .ex_pr{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 3; 
  }
  .Hakima_castro{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 4; 
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 100px 150px 250px;
    grid-row-gap: 1rem;
  }
  .cert_dig{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 3;
    grid-row-end: 4; 
  }
  img{
      width : 50%;
  }

  .container > div{
      padding: 1rem; 
      background-color: gray;  
  }
  .div2_1{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 2; 
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    text-align: right;
    justify-content: space-between;
  }
  .fotoytexto{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 3; 
    display:flex;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .texto{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 3;
    grid-row-end: 4; 
  }
  .escriba_consulta{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 4;
    grid-row-end: 5; 
  }
  .foto_ejecutiva{
      width: 20%;
  }
  #foto_ejecutiva{
    width: 70%;
    height: 100px;
  }
  .div2_2{
      padding: 0.5rem;
      width: 60%;
  }
  #im{
      width: 20%;
  }
  #foto_im{
    width: 90%;
    height: 100px;
  }
 .div2_1 img{
    height: 20px;
    width: 20px;
 }
  #texto{
    background-color: cyan;
    padding : 1rem 3rem;
  }
  .escriba_consulta{
    position: relative;
  }
  #escribe{
    width: 100%;
    height: 100%;
    background-color: rgb(189, 186, 186);
  }
  #iniciar_chat{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .iniciar_chat{
    background-color: gray;
    color: white;
    padding: 0.5rem;
  }