
@use "sass:map";
$light-theme:true;
$dark-theme:false;
$antique-white: rgb(242, 235, 245);
$background-color-container: $antique-white;
$blue: #3c3cfa;
$h1-header-color: $blue;
$green: #00cc00;
$h4-formacion-color: $green;
$yellow: #FFFF00;
$h4-experiencia-color: $yellow;
$red: #FF0000;
$h4-idiomas-color: $red;
$purple: #FF0099;
$h4-otros-color: $purple;
$brown: #800000;
$enlace-normal: $brown;
$hover: #00cc07;
$enlace-hover: $hover;
$visited: #FF0009;
$enlace-visited: $visited;
$active: #000091;
$enlace-active: $active;
$border-color:#000000;
$border-style: "solid";
$border-width:0.1rem;
$border-radius: 1rem;
$main-container-width: 100%;
$indianred: #CD5C5C;
$h4-formacion-color-medio: $indianred;
$lightcoral: #F08080;
$h4-experiencia-color-medio: $lightcoral;
$salmon: #FA8072;
$h4-idiomas-color-medio: $salmon;
$darksalmon: #E9967A;
$h4-otros-color-medio: $darksalmon;
$grey: #808080;
$h4-formacion-color-grande: $grey;
$lime: #00FF00;
$h4-experiencia-color-grande: $lime;
$aqua: #00FFFF;
$h4-idiomas-color-grande: $aqua;
$fuchsia: #FF00FF;
$h4-otros-color-grade: $fuchsia;
$color-contenedores: $background-color-container;

$breakpoint: (
    "pequeño":576,
    "medio":768,
    "grande":992
);

$pequeno : map.get($breakpoint,"pequeño");
$grande : map.get($breakpoint, "grande");

.container{
    width: $main-container-width;
    margin: 0px auto;
    @if $light-theme{
        background-color: white;
        color: rgb(73, 73, 73);
    }
    @else if $dark-theme{
        background-color: black;
        color: rgb(204, 204, 204);
    }
    @else{
        background-color: $background-color-container;

    }
}


h1{
    color: $h1-header-color;
}


.formacion_academica{
    padding: 0.2rem;
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    margin-top : 1rem;
    margin-bottom : 1rem;
    h4{
        color: $h4-formacion-color;
    }    
}

.experiencia_profesional{
    padding: 0.2rem;
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    margin-bottom : 1rem;
    h4{
    color: $h4-experiencia-color;
    }
}

.idiomas {
    padding: 0.2rem;
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    margin-bottom : 1rem;
    h4{
    color: $h4-idiomas-color;
    }
}

.otros_datos {
    padding: 0.2rem;
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    h4{
    color: $h4-otros-color;
    }
}

a{
    color: $brown;
    text-decoration: none;
    &:hover {
        color:$enlace-hover;
    }
    &:visited {
        color:$enlace-visited;
    }
    &:active{
        color:$enlace-active;
    }
}

#modulos{
    text-align: center;
}

.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modulos div{
    width: 100%;
}

table{
    border-collapse:collapse;
}

.horas{
    text-align: end;
}

th,
td {
    border: 1px solid black;
    padding: 1rem;
}

$num: 1;
$color-list: #007486, #00afb8, #03c6d0, #03e2ee, #38ecf5, #b8f5f9, #dff3f4; 

@while $num<8 {
    tr:nth-child(#{$num}){
        color: #011f24;
        background-color: nth($color-list, $num);
    }
    $num: $num+1;
}

$mapa:(
    h1:"2.5rem",
    h2:"2rem",
    h3:"1.5rem",
    h4:"1.2rem"
);

@each $t,$v in $mapa {
    #{$t}{
    font-size: #{$v};
    }  
}

.row >* {
    padding: 1rem;
}

@media screen and (min-width: #{$pequeno}px){ 
    .formacion_academica h4{
        color: $h4-formacion-color-medio; 
    }
    
    .experiencia_profesional h4{
        color: $h4-experiencia-color-medio;
    }
    
    .idiomas h4{
        color: $h4-idiomas-color-medio;;
    }
    
    .otros_datos h4{
        color: $h4-otros-color-medio;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    $num_columnas: 10;
@function calcularAnchura($i){
    @return (100 / $num_columnas)*$i;
}
@for $i from 1 through $num_columnas{
    .row > .col-#{$i}{
        padding: 1rem;
        width: #{calcularAnchura($i)} + "%";
    }
}
}

@media screen and (min-width: #{$grande}px){
    
    .formacion_academica {
        h4{
        color: $h4-formacion-color-grande;
        }
    }
    
    .experiencia_profesional {
        h4{
        color: $h4-experiencia-color-grande;
        }
    }
    
    .idiomas {
        h4{
        color: $h4-idiomas-color-grande;
        }
    }
    
    .otros_datos{
        h4{
        color: $h4-otros-color-grade;
        }
    }

    $num_columnas: 10;
@function calcularAnchuraGrande($i){
    @return (100 / $num_columnas)*$i;
}
@for $i from 1 through $num_columnas{
    .row > .col-grande-#{$i}{
        width: #{calcularAnchuraGrande($i)} + "%";
    }
    }
}